header {
  display: flex;
  border-bottom: 2px solid gray;
  border-radius: 0px 0px 50px 50px;
  position: fixed;
  top: 0px;
  width: 90%;
  left: 5%;
  background-color: #272d34;
  z-index: 1;
}

.hamburger, .menu {
  visibility: hidden;
}

.App-header {
  height: 75px;
}


.headerName, .headerNameOn {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  flex-grow: 5;
  margin: 15px 20px 0 20px;
}

.headerName {
  color: #182D34;
}

.headerNameOn {
  color: #F1F4F5;
  text-shadow: 0px 0px 45px #18E5BC;
}


.headerLinks {
  margin: 20px 10px 10px 10px;
  font-family: 'Orbitron', sans-serif;
}

.headerLinksInactive:hover {
  filter: drop-shadow(0px 0px 2px #18E5BC);
  color: #272d34;
  text-shadow: 1px 1px 1px white;
  transition: color 300ms ease-in-out;
  transition: filter 300ms ease-in-out;
  margin: 20px 10px 10px 10px;
}

@media (max-width: 1080px) {
  .headerLinks {
    font-size: 20px;
  }

  .hamburger {
    visibility: visible;
    background: none;
    color: white;
    border: none;
    font-size: 60px;
    cursor: pointer;
    outline: none;
    margin-left: 450px;
  }

  .headerName, .headerNameOn {
    font-size: 40px;
    flex-grow: 0;
    margin-right: 0px;
  }

  .headerLinks {
    visibility: hidden;
    width: 0px;
    margin: 0px;
  }

  .menu {
    visibility: visible;
    z-index: 2;
    font-weight: bold;
    font-size: 25px;
    width: 90%;
    background: none;
    position: absolute;
    text-align: center;
    margin-top: 5px;
    height:10px;

  }

  .menu ul {
    font-family: 'Orbitron', sans-serif;
    padding: 0px;
  }

  .menu li {
    background: #000;
    border-radius: 50px;
    display: block;
    vertical-align: 50%;
    padding: 30px 0 30px 0;
    border: gray 2px solid;
    transition: color 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
  }

  .menu li:hover {
    display: block;
    filter: drop-shadow(0px 0px 2px #18E5BC);
    color: #272d34;
    text-shadow: 1px 1px 1px white;
    transition: color 300ms ease-in-out;
    transition: filter 300ms ease-in-out;
  }

  .menu a:hover {
    text-decoration:none;
    color: #272d34;
    text-shadow: 1px 1px 1px white;
    filter: drop-shadow(0px 0px 2px #18E5BC);
    transition: color 200ms ease-in-out;
    transition: filter 200ms ease-in-out;
  }

  .menu a {
    padding: 0px;
    margin: 0px;
  }
}
